/*  your css code here. If applicable */
:root {
	background-color: rgb(135, 206, 235)
}
p:first-child {
	color: white;
	background-color: black;
}
p:second-child {
	color: standard;
}
p:last-child {
	color: red;
}
ul li {
	background-color: grey;
	width: 50%;
	padding: 10px;
}
ul .odd{
	background-color: white;
}
ul .odd.fli {
	font-size: 22px;
}
ul #pink {
	background-color: pink;
}
/*
ul:.odd .fi {
	font-size: 22px;
}
ul:.odd .pi {
	background-color: pink;
}

